mixin caret-right
  svg(width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M-3.90451e-07 1.06752L-4.66628e-08 8.93248C-2.81327e-08 9.3564 0.494428 9.58798 0.820091 9.31659L5.53907 5.38411C5.77894 5.18421 5.77894 4.81579 5.53907 4.61589L0.820092 0.68341C0.494428 0.412024 -4.08981e-07 0.643602 -3.90451e-07 1.06752Z' fill='white')
mixin caret-right-green
  svg(width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M-3.90451e-07 1.06752L-4.66628e-08 8.93248C-2.81327e-08 9.3564 0.494428 9.58798 0.820091 9.31659L5.53907 5.38411C5.77894 5.18421 5.77894 4.81579 5.53907 4.61589L0.820092 0.68341C0.494428 0.412024 -4.08981e-07 0.643602 -3.90451e-07 1.06752Z' fill='#51AC31')
mixin arrow-down
  svg(width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M9.00031 1L5.00031 5L1.00031 1' stroke='#51AC31' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
mixin arrow-right-white
  svg(width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M0.999879 1L4.99988 5L0.999878 9' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
mixin arrow-left-white
  svg(width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M5.00006 9L1.00006 5L5.00006 1' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
mixin star-icon
  svg.star-icon(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M15.1805 5.47258L10.8112 4.83564L8.85832 0.876412C8.50841 0.170689 7.49458 0.161718 7.14168 0.876412L5.18879 4.83564L0.819452 5.47258C0.035902 5.58622 -0.278116 6.5521 0.290107 7.10532L3.45122 10.1854L2.70356 14.5363C2.56898 15.3228 3.39739 15.9119 4.09122 15.5441L8 13.4897L11.9088 15.5441C12.6026 15.9089 13.431 15.3228 13.2964 14.5363L12.5488 10.1854L15.7099 7.10532C16.2781 6.5521 15.9641 5.58622 15.1805 5.47258Z', fill='#FDD000')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M10.8112 4.83564L15.1805 5.47258C15.9641 5.58622 16.2781 6.5521 15.7099 7.10532L12.5488 10.1854L13.2964 14.5363C13.431 15.3228 12.6026 15.9089 11.9088 15.5441L8 13.4897L4.09122 15.5441C3.39739 15.9119 2.56898 15.3228 2.70356 14.5363L3.45122 10.1854L0.290107 7.10532C-0.278116 6.5521 0.035902 5.58622 0.819452 5.47258L5.18879 4.83564L7.14168 0.876412C7.49458 0.161718 8.50841 0.170689 8.85832 0.876412L10.8112 4.83564ZM11.7181 13.8218L11.0093 9.6831L14.0179 6.75256L9.86086 6.14851L8.00067 2.38066L6.14049 6.14851L1.98349 6.75256L4.99208 9.6831L4.2833 13.8218L8.00067 11.8691L11.7181 13.8218Z', fill='#C4C4C4')
mixin star-icon-active
  svg.star-icon.active(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M15.1805 5.47258L10.8112 4.83564L8.85832 0.876412C8.50841 0.170689 7.49458 0.161718 7.14168 0.876412L5.18879 4.83564L0.819452 5.47258C0.035902 5.58622 -0.278116 6.5521 0.290107 7.10532L3.45122 10.1854L2.70356 14.5363C2.56898 15.3228 3.39739 15.9119 4.09122 15.5441L8 13.4897L11.9088 15.5441C12.6026 15.9089 13.431 15.3228 13.2964 14.5363L12.5488 10.1854L15.7099 7.10532C16.2781 6.5521 15.9641 5.58622 15.1805 5.47258Z', fill='#FDD000')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M10.8112 4.83564L15.1805 5.47258C15.9641 5.58622 16.2781 6.5521 15.7099 7.10532L12.5488 10.1854L13.2964 14.5363C13.431 15.3228 12.6026 15.9089 11.9088 15.5441L8 13.4897L4.09122 15.5441C3.39739 15.9119 2.56898 15.3228 2.70356 14.5363L3.45122 10.1854L0.290107 7.10532C-0.278116 6.5521 0.035902 5.58622 0.819452 5.47258L5.18879 4.83564L7.14168 0.876412C7.49458 0.161718 8.50841 0.170689 8.85832 0.876412L10.8112 4.83564ZM11.7181 13.8218L11.0093 9.6831L14.0179 6.75256L9.86086 6.14851L8.00067 2.38066L6.14049 6.14851L1.98349 6.75256L4.99208 9.6831L4.2833 13.8218L8.00067 11.8691L11.7181 13.8218Z', fill='#FDD000')
mixin hamburger
  svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M1.33313 8.00002C1.33313 7.26364 1.93008 6.66669 2.66646 6.66669H29.3331C30.0695 6.66669 30.6665 7.26364 30.6665 8.00002C30.6665 8.7364 30.0695 9.33335 29.3331 9.33335H2.66646C1.93008 9.33335 1.33313 8.7364 1.33313 8.00002Z' fill='#5F6771')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M1.33313 16C1.33313 15.2636 1.93008 14.6667 2.66646 14.6667H29.3331C30.0695 14.6667 30.6665 15.2636 30.6665 16C30.6665 16.7364 30.0695 17.3334 29.3331 17.3334H2.66646C1.93008 17.3334 1.33313 16.7364 1.33313 16Z' fill='#5F6771')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M1.33313 24C1.33313 23.2636 1.93008 22.6667 2.66646 22.6667H29.3331C30.0695 22.6667 30.6665 23.2636 30.6665 24C30.6665 24.7364 30.0695 25.3334 29.3331 25.3334H2.66646C1.93008 25.3334 1.33313 24.7364 1.33313 24Z' fill='#5F6771')