section.hub 
    header.hub__header 
        img(src="../../assets/images/logo_black.svg") 
    .hub__container
        .hub__content.row
            .col-sm-12.col-md-12.col-lg-6.col-xl-5.hub__content--title
                h2 Choose Hub to create your flow   
            .col-sm-12.col-md-12.col-lg-6.col-xl-7.hub__content--check  
                .hub__content--list.row#list                                
                .hub__content--button.col-xl-12.text-center
                    a   
                        button Next  
            .col-md-0.col-lg-6.col-xl-5    
            .col-md-12.col-lg-6.col-xl-7.hub__content--footer.d-flex.justify-content-between 
                h2 or Register a new Hub  
                .hub__content--register.d-flex.align-items-center 
                    h3 Register
                    a 
                        i.fa-solid.fa-arrow-right

