section.welcome 
    .welcome__container 
        .welcome__img: img(src="../../assets/images/logo.svg", alt="")
        p Welcome to Advanced Flow
        .welcome__continue: p  Please log in to continue 
        button Log in        