.modal.fade#myModal
    .modal-dialog
        .modal-content  
            //- Modal Header
            .modal-header 
                h4#modal-title Are you sure you want to delete this Hub?
                button(type="button", data-bs-dismiss="modal").btn-close

            //- Modal body
            .modal-body 

            //- Modal footer
            .modal-footer 
                button(type="button", data-bs-dismiss="modal").btn.btn-primary.btn-yes Yes
                button(type="button", data-bs-dismiss="modal").btn.btn-secondary No