extends layout
block head
  //link(rel="stylesheet" href="assets/css/components/home/banner.css")

block content
  - var imgUrl = 'assets/images/dynamic/home/'
  .home
    include ./components/home/hub.pug
    

    
    

block foot
  script(src="assets/libs/util.js")
